canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#playButtonContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#playButton {
  background: #da8a01;
  box-shadow: 0px 0px 5px #11111136;
  border: 1px solid #11111136;
  padding: 10px 25px;
  font-size: 15px;
  color: #a90100;
  font-weight: 900;
  letter-spacing: 3px;
}
